.test {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 10px;
  overflow: auto;
}

.test-editor {
  width: auto;
  height: auto;
}


.test-form {

}
