.test {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 10px;
  overflow: auto;
}

.test-adaptive {
  position: relative;
  margin: 10px;
  float: left;
  height: 700px;
  width: 400px;
  overflow: auto;
}
