.page-test {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 10px;
  background-color: #cfcfcf;
  overflow: auto;
}

.page-test-editor {
  background-color: #ffffff;
  width: auto;
  height: auto;
}

.page-test-form {

}
